@tailwind base;
@tailwind components;
@tailwind utilities;

root {
    font-family: 'Open Sans', sans-serif;
}
body {
    overflow: hidden;
}
@layer components {
    .textContainer {
        @apply h-full bg-white rounded-md shadow-xl p-5 border border-gray-300;
        transition: width 0.5s ease-out;
    }

    .hiddenContainer {
        @apply p-0 border-none;
    }
}
.background {
    background-color: #F4F4F4;
}
.textColor {
    color: #252525;
}

/* define the animation */
.fade-in {
    animation-name: fadeInOpacity;
    animation-duration: 200ms;
    animation-timing-function: ease-in-out;
}
  
  /* define the keyframes */
  @keyframes fadeInOpacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  